.footer 
    .container
        .row
            .col
                .footer_box
                    p Facebook
                    p Twitter
                    p Google+
                    p LinkedIn
                    p Behance
                    p Dribble
                    p GitHub