header
    .container
        .row
            .col
                img(src="./img/logo.png", alt="")
            .col
                .menu_box
                    p HOME
                    p ABOUT
                    p WORK
                    p BLOG
                    p CONTACT