header
    .container
        .row
            .col-md-4
                img(src="./img/logo.png", alt="")
            .col-md-8
                .menu_box
                    .row
                        .col
                            p HOME
                        .col
                            p ABOUT
                        .col
                            p WORK
                        .col
                            p BLOG
                        .col
                            p CONTACT