extends _layout/layout.pug
block main 
	section.home_slider 
		.container
			.row
				.col
					h1 lorem isu
						br
						| rewqrewrwerewrewrewr
						br
						| fwfaewf
					p
						a.btn.btn-more(href="#") Click her
	
	section.home_service
		.container
			.row
				.col
					h2 3123213
					p 321321321
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png", alt="")
					h3 wfwe
					p fweafew
				.col
					img(src="./img/home_icon_2.png", alt="")
					h3 wfwe
					p fweafew
				.col
					img(src="./img/home_icon_3.png", alt="")
					h3 wfwe
					p fweafew
				.col
					img(src="./img/home_icon_4.png", alt="")
					h3 wfwe
					p fweafew