extends _layout/layout.pug

mixin social_contact(link)
	.team_social_icon
		a(href=link).social_icon
			i.fab.fa-facebook-f
		a(href=link).social_icon
			i.fab.fa-twitter
		a(href=link).social_icon
			i.fab.fa-linkedin-in
		a(href=link).social_icon
			i.fas.fa-envelope

	

block main 
	section.home_slider 
		.container
			.row
				.col
					h1 Hi there! We are the new kids on the block
						br 
						|and we build awesome websites and mobile apps.
					br
					p
						a.shadow-sm.btn.btn-more(href="#") WORK WITH US
	
	section.home_service
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe 
						br
						|to create awesome websites and applications.

			.row
				- for(x = 1; x < 5; x++)
					.col
						img(src="./img/home_icon_"+x+".png", alt="")
						h2 fewafewfaewfewfwaeawf
						- if(x == 1)
							p fweafewwe
						- else if(x == 2)
							p fweafewaewefw
						- else if(x == 3)
							p fewfaew
						- else
							p fwefaeef
	
